<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ app.user.getUsername() }}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ path('user_profile', { 'username':app.user.username} ) }}">
            Snippety
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('logout') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            {{ 'Logout' | trans }}
        </a>
    </div>
</li>